.page-cover {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/background@1X.png") no-repeat;
    background-size: cover;
    position: relative;
    font-family: Verdana, sans-serif;
}

.container{
    width: 1100px;
    margin: 0 auto;
}

.header-block{
    padding-top: 50px;
    height: 50px;
}

.header-logo-block{
    width: 170px;
    height: inherit;
    float: left;
    color: #ffffff;
}

.img-logo{
    width: 50px;
    height: inherit;
    background: url("../img/logo-white.png") no-repeat;
    float: left;
}

.logo-text-holder{
    float: right;
}

.big-caps-logo{
    display: block;
    width: 110px;
    height: 25px;
    font-size: 29px;
    font-weight: bold;
}

.small-caps-logo{
    display: block;
    width: 110px;
    height: 20px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}

.header-logo-block:hover .img-logo{
    background: url("../img/logo-red.png") no-repeat;
}

.header-logo-block:hover .logo-text-holder{
    color: #f26522;
}

.header-block-contacts{
    float: right;
    width: 250px;
    height: inherit;
    text-align: right;
}

.email{
    font-size: 18px;
    color: #fff;
}

.telephone{
    font-size: 18px;
    color: #fff;
}

.offer-block{
    float: left;
    width: 1100px;
    height: 600px;
    margin-top: 50px;
}

.offer-img-item{
    position: relative;
    width: 310px;
    float: left;
    text-align: center;
    overflow: hidden;
    margin-bottom: 60px;
}

.offer-image{
    border: 1px solid white;
    border-image: linear-gradient(to bottom, white 0%, transparent 100%) 1;
}

.two-side-margins{
    margin: 0 85px;
}

.offer-details-board{
    position: absolute;
    bottom: 0;
    visibility: hidden;
    transition: bottom 0.5s ease, visibility 0.1s ease;
    width: 310px;
    height: 67px;
    background: #f26522;
}

.price-item{
    width: 60px;
    height: 20px;
    text-align: right;
    float: left;
    margin-top: 30px;
    font-size: 20px;
    color: #ffffff;
}

.price-item:before{
    content: '\20AC';
}

.view-details{
    display: block;
    width: 115px;
    height: 20px;
    float: right;
    margin-top: 35px;
    font-size: 14px;
    color: #ffffff;
}

.view-details:after{
    content: '\003E';
    color: #f9b291;
}

.from-item{
    display: inline-block;
    position: absolute;
    top: 17px;
    left: 25px;
    font-size: 10px;
    color: #ffffff;
}

.offer-img-item:hover .offer-img-name{
    color: #f26522;
}

.offer-img-item:hover .offer-details-board{
    visibility: visible;
    bottom: 33px;

}

.offer-img-name{
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 3px;
    font-size: 18px;
    color: #ffffff;
}

.copyright-block{
    display: inline-block;
    padding-bottom: 20px;
    text-align: center;
}

.copyright-text {
    font-size: 12px;
    color: #ffffff;
}

.copyright-text:before{
    content: '\00A9';
}

.clearfix{
    content: '';
    display: block;
    clear: both;
}
